{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>🛡️ Chaff (Hide Secret)</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Select File:</label>
        <input type="file" name="file" required>

        <label>Secret Message:</label>
        <textarea name="secret_message" rows="5" required></textarea>

        <label>Recipient's Public Key (.pem):</label>
        <input type="file" name="public_key" required>

        <input type="submit" value="Chaff & Encrypt">
    </form>
</div>
{% endblock %}
