{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>🔓 Winnow (Extract Secret)</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Upload Chaffed File (.zip):</label>
        <input type="file" name="chaffed_file">

        <label>Upload Keyinfo (.json):</label>
        <input type="file" name="keyinfo" required>

        <label>Your Private Key (.pem):</label>
        <input type="file" name="private_key" required>

        <input type="submit" value="Winnow & Decrypt">
    </form>
</div>

{% if result %}
<div class="card">
    <h2>🧩 Recovered Message:</h2>
    <p>{{ result }}</p>
</div>
{% endif %}
{% endblock %}
